- page_title "通知"
- @content_class = "limit-container-width" unless fluid_layout

%div
  - if @user.errors.any?
    .alert.alert-danger
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  = hidden_field_tag :notification_type, 'global'
  .row.prepend-top-default
    .col-lg-4.profile-settings-sidebar
      %h4.prepend-top-0
        = page_title
      %p
        你也可以单独指定每个群组或项目的通知等级。
      %p
        所有项目和群组默认使用全局通知设置。
    .col-lg-8
      %h5.prepend-top-0
        全局通知设置

      = form_for @user, url: profile_notifications_path, method: :put, html: { class: 'update-notifications prepend-top-default' } do |f|
        = render_if_exists 'profiles/notifications/email_settings', form: f

      = label_tag :global_notification_level, "全局通知等级", class: "label-bold"
      %br
      .clearfix
      .form-group.float-left.global-notification-setting
        = render 'shared/notifications/button', notification_setting: @global_notification_setting

      .clearfix

      = form_for @user, url: profile_notifications_path, method: :put do |f|
        %label{ for: 'user_notified_of_own_activity' }
          = f.check_box :notified_of_own_activity
          %span 接收与您的活动有关的通知

      %hr
      %h5
        群组 (#{@group_notifications.count})
      %div
        %ul.bordered-list
          - @group_notifications.each do |setting|
            = render 'group_settings', setting: setting, group: setting.source
      %h5
        项目 (#{@project_notifications.count})
      %p.account-well
        给所属群组的每个项目指定通知等级，需要访问项目页面去设置通知等级。
      .append-bottom-default
        %ul.bordered-list
          - @project_notifications.each do |setting|
            = render 'project_settings', setting: setting, project: setting.source
